    <html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        {{>header}}
        <h5>This site was created by Minaxi Machhi. It uses data from mapbox.com and darksky.net!</h5>
    </body>
</html>