<html>
    <head>
        <script src="/js/app.js"></script>
        <style>
            p{
                font-size: 20px;
                text-align: center;
            }

        </style>
    </head>
    <body>
        {{>header}}
        <p>Products</p> 
    </body>
</html>