<header>
   <p>Accessing Api through Browser</p>
    <a href="/weather">Weather</a>
    <a href="/product">Product</a>
    <a href="/about">about</a>
    <a href="/help">Help</a>
    <a href="/">Home</a>
</header>